body {
  font-family: "tahoma";
  font-size: 14px;
}
nav li a,
.navigation .gva_menu li a {
  font-family: "Droid Arabic Kufi";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Arabic Kufi";
  line-height: 1.5;
}
.field--name-field-section {
  font-size: 14px;
  font-weight: bold;
}
.region-branding .pull-left {
  float: right !important;
}
.header-main-inner .header-right .header-right-inner {
  float: left !important;
}
.block-title::before {
  right: 0;
}
.block-views-blockarticles-politics-articles li:first-child {
  float: right !important;
}
.more-link {
  text-align: left;
  padding-left: 15px;
}
.view-display-id-technology_articles .row .col article {
  border: 1px solid #bfbfbf;
}
.view-display-id-technology_articles .vertical-media-teaser-view-mode {
  margin-bottom: 15px;
}
.view-display-id-technology_articles .teaser-body-wrapper {
  padding: 15px;
}
.region-footer-third ul li a {
  padding-right: 16px;
}
.region-footer-third ul li a::after {
  content: "\f104";
  right: 0;
}
.region-footer-third ul li a:hover {
  padding-right: 25px;
}
.breaking-news .title {
  float: right;
  margin-right: 10px;
}
#in-pictures-list,
#in-pictures-slider {
  float: right;
}
