.header-right-inner {
  float: left !important;
}
.pull-left {
  float: right !important;
}
.breaking-news .slide__content {
  padding-right: 15px;
}
.post-breaking-news {
  padding-left: 10px;
}
@media (min-width: 992px) {
  .search-region {
    right: initial !important;
    left: 15px;
  }
  .search-region .search-content {
    right: initial !important;
    left: -15px;
  }
  .search-region .search-content .form-type-textfield {
    float: right;
    margin-right: 0;
    margin-left: 10px;
  }
  .search-region .search-content .glyphicon-search {
    float: left;
  }
}
@media (min-width: 992px) {
  .block-views-exposed-filter-blocksearch-search-page .form-type-textfield {
    float: right !important;
    margin-right: 0;
    margin-left: 10px;
  }
  .block-views-exposed-filter-blocksearch-search-page .bef-exposed-form .form--inline > .form-item {
    float: none;
  }
  .block-views-exposed-filter-blocksearch-search-page .form-type-select {
    float: none !important;
  }
}
.view-display-id-search_page .views-row .image {
  float: right;
}
