a {
  color: #222;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  outline: none !important;
  text-decoration: none;
  color: #4698d5;
}
header.header-class {
  margin-bottom: 30px;
}
header.header-class .main-menu {
  position: relative;
}
header.header-class .main-menu .block {
  overflow: visible;
}
header.header-class .main-menu::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 20px;
}
header.header-class .area-main-menu .area-inner {
  position: relative;
}
header.header-class .area-main-menu .gva-search-region {
  position: absolute;
  right: 15px;
  top: 8px;
  z-index: 9;
}
header.header-class .area-main-menu .gva-search-region .search-icon {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
header.header-class .area-main-menu .gva-search-region .search-icon:hover {
  color: #50a7e8;
}
header.header-class .area-main-menu .gva-search-region .search-content {
  display: none;
  width: 320px;
  position: absolute;
  top: 43px;
  right: -15px;
  margin-top: -1px;
  z-index: 99;
  background: #fff;
  padding: 20px 20px 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header.header-class .area-main-menu .gva-search-region .search-content .form-type-textfield {
  width: 65%;
  margin-right: 10px;
}
header.header-class .area-main-menu .gva-search-region .search-content .form-type-textfield .form-control {
  width: 100%;
}
header.header-class .area-main-menu .gva-search-region .search-content .form-actions .btn {
  margin-right: 0;
  background-color: #4698d5;
}
header.header-class .area-main-menu .gva-search-region .search-content .form-actions .btn:hover {
  background-color: #50a7e8;
}
header.header-class .area-main-menu .gva-search-region .search-content .form-item-sort-by,
header.header-class .area-main-menu .gva-search-region .search-content .form-item-sort-order {
  display: none;
}
header.header-class .area-main-menu .gva-search-region .search-content input#edit-keys {
  height: 35px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: none;
}
header.header-class .area-main-menu .gva-search-region.show .search-content {
  display: block;
}
header.header-class .gva_menu {
  background: #4698d5;
}
header.header-class .gva_menu li.menu-item--active-trail {
  background: #50a7e8;
}
header.header-class .gva_menu li a {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
header.header-class .gva_menu li a:hover {
  background: #50a7e8;
  color: #fff;
}
@media (max-width: 992px) {
  header .header-main {
    padding: 0 !important;
  }
  body.menu-opened {
    overflow: hidden;
  }
  .overlay-body {
    background: #000;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    right: 0;
    transition: all 0.4s ease-in;
  }
  .menu-bar {
    z-index: 1000;
  }
}
.menu-bar {
  height: 32px;
  width: 36px;
  position: relative;
  cursor: pointer;
  display: none;
  margin-top: 30px;
  float: right;
  top: -5px;
}
.menu-bar span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #222;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
}
.menu-bar span.one {
  top: 6px;
}
.menu-bar span.two {
  top: 0;
  bottom: 0;
}
.menu-bar span.three {
  bottom: 6px;
}
.menu-bar:hover {
  -webkit-box-shadow: 0, 0, 10px, 0.3;
  box-shadow: 0, 0, 10px, 0.3;
}
.menu-bar.show-view span.one {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-bar.show-view span.two {
  opacity: 0;
  filter: alpha(opacity=0);
}
.menu-bar.show-view span.three {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(45deg);
  transform: rotate(-45deg);
}
@media only screen and (max-width: 1200px) {
  .region-main-menu {
    float: none !important;
  }
  .menu-bar {
    display: block !important;
  }
  .gva-navigation {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 60%;
    min-width: 250px;
    background-color: #fff;
    bottom: 0;
    z-index: 1000;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
  }
  .gva-navigation .gva_menu {
    background: none !important;
  }
  .gva-navigation .gva_menu li::after,
  .gva-navigation .gva_menu li::before {
    content: none;
    display: none;
  }
  .gva-navigation .gva_menu .sub-menu::after,
  .gva-navigation .gva_menu .sub-menu::before {
    content: none;
  }
  .gva-navigation .gva_menu li {
    display: block;
    clear: both;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .gva-navigation .gva_menu li a::after,
  .gva-navigation .gva_menu li a::before {
    content: none;
    display: none;
  }
  .gva-navigation .gva_menu li a {
    color: #222 !important;
    line-height: 30px;
    font-size: 13px;
    padding: 0;
  }
  .gva-navigation .gva_menu li a:hover {
    color: #50a7e8 !important;
    background: none !important;
  }
  .gva-navigation .gva_menu li ul.menu.sub-menu {
    padding-left: 30px !important;
    margin-bottom: 10px;
  }
  .gva-navigation .gva_menu li ul.menu.sub-menu li a {
    text-transform: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .gva-navigation .gva_menu li:last-child {
    border-bottom: none;
  }
  .gva-navigation .gva_menu li.menu-parent:hover .sub-menu {
    display: none;
  }
  .gva-navigation .gva_menu li.megamenu .sub-menu li {
    width: 100% !important;
    float: none !important;
    display: block;
    padding: 0;
  }
  .gva-navigation .gva_menu li.megamenu .sub-menu li a {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 14px;
  }
  .gva-navigation .gva_menu li.megamenu .sub-menu li.block-image {
    display: none;
  }
  .gva-navigation .gva_menu li a {
    text-transform: uppercase !important;
    padding: 5px 10px !important;
    position: relative;
  }
  .gva-navigation .gva_menu li a .nav-plus {
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 12px;
  }
  .gva-navigation .gva_menu li a .nav-plus.nav-minus::before {
    content: '\f068';
  }
  .gva-navigation .gva_menu li a .nav-plus::before {
    position: absolute;
    font-family: 'FontAwesome';
    content: '\f067';
    text-transform: inherit;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .gva-navigation .gva_menu li a:hover {
    color: #4698d5;
  }
  .gva-navigation .gva_menu li ul {
    display: none;
  }
  .gva-navigation .gva_menu .sub-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -moz-transition: none;
    -ms-transition: none;
    min-width: inherit;
    display: none;
    width: 100%;
    position: static;
    padding: 0 !important;
    visibility: visible;
    border: 0;
    background-image: none;
    background-color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .gva-navigation .gva_menu .sub-menu li a::before,
  .gva-navigation .gva_menu .sub-menu li a::after {
    content: none !important;
  }
  .gva-navigation .gva_menu .sub-menu li a {
    border-width: 0;
    padding-left: 20px !important;
    padding-right: 0;
    font-size: 13px;
    text-transform: uppercase;
  }
  .gva-navigation .gva_menu .sub-menu li a:hover {
    text-indent: 0;
  }
  .gva-navigation .gva_menu .sub-menu ul {
    display: none;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .gva-navigation .gva_menu .sub-menu .block-image {
    display: none;
  }
  .gva-navigation.show-view {
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}
@media only screen and (max-width: 992px) {
  .menu-bar {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .stuck {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .toolbar-tray-open .stuck {
    top: 79px !important;
  }
  .adminimal-admin-toolbar .stuck {
    top: 39px;
  }
}
header .header-main {
  padding: 30px 0;
  background: #fff;
}
.block.site-branding {
  margin-bottom: 0;
}
.block.no-title {
  margin-top: 0;
  border: none;
}
.block {
  background: transparent;
  margin-bottom: 30px;
  overflow: hidden;
}
.header-right-inner {
  float: right !important;
}
.navigation {
  position: relative;
  clear: both;
}
.navigation .gva_menu {
  width: 100%;
  font-size: 0;
}
.navigation .gva_menu li {
  display: inline-block;
  position: relative;
  font-size: 13px;
}
.navigation .gva_menu li:first-child a {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation .gva_menu li a {
  display: block;
  position: relative;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 15px 20px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  font-family: "Roboto";
  text-align: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-bar {
  height: 32px;
  width: 36px;
  position: relative;
  cursor: pointer;
  display: none;
  margin-top: 30px;
  float: right;
  top: -5px;
  border: 1px solid #35465c;
}
/* Breaking News style */
.breaking-news .content-inner {
  border: 1px solid #bfbfbf;
  padding: 10px;
  width: initial;
}
.breaking-news .title {
  float: left;
  width: 120px;
  background-color: #4698d5;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  font-family: "Roboto";
  text-align: center;
  line-height: 1.5;
}
@media only screen and (min-width: 992px) {
  .breaking-news .content-inner .content {
    height: 20px;
  }
}
.post-breaking-news {
  display: inline;
  padding-right: 10px;
}
.block-views-blockbreaking-news-breaking-news-bar {
  margin-bottom: 0;
}
.breaking-news .view-content {
  padding-left: 15px;
}
.breaking-news .view-content .post-created {
  width: 40px;
  font-weight: 400;
  color: #ccc;
  line-height: 32px;
  font-size: 12px;
}
.breaking-news .view-content .post-created::before {
  display: none;
}
.breaking-news .view-content .slide__caption {
  position: initial;
  padding-top: 0;
  line-height: 32px;
  text-shadow: none;
}
.breaking-news .view-content .slide__caption a {
  line-height: 22px;
  font-weight: 600;
  font-size: 14px;
  word-wrap: break-word;
}
@media (max-width: 1200px) {
  header.header-class .area-main-menu .gva-search-region {
    top: 22px;
    right: 50px;
  }
  header.header-class .area-main-menu .gva-search-region:hover {
    cursor: pointer;
  }
  header.header-class .area-main-menu .gva-search-region .search-content {
    right: -50px;
  }
  header.header-class .area-main-menu .gva-search-region .search-content .form-type-textfield {
    width: 60%;
  }
  header.header-class .area-main-menu .gva-search-region .search-content .form-wrapper {
    display: inline-block;
  }
  header.header-class .area-main-menu .gva-search-region .search-icon {
    color: #4698d5;
  }
}
